body {
    background-image: url(img/hanging-rope.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 4.8% 95%;
    background-color: beige;
    opacity: 95%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    opacity: 85%;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
}

.word-instructions-and-hangman-container {
    display: flex;
    width: 100%;
    /* background-color: antiquewhite; */
    height: 50vh;
}

.instructions-container {
    width: 33.333333%;
    display: block;
    align-items: center;
    justify-content: center;
}

.instructions-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    /* background-color: blue;  */
}

.instructions-title h2 {
    padding-top: 10%;
    padding-right: 39%;
}

.instructions-items {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    height: 80%;
}

.instructions-items-frame {
    background-color: #f3f5e0;
    width: 70%;
    height: 80%;
    display: block;
    align-items: center;
    justify-content: center;
    opacity: 70%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='28' ry='28' stroke='%23FFC13AFF' stroke-width='4' stroke-dasharray='22%2c 20' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 28px;
}

.instructions-items-frame h4 {
    margin-left: 7%;
    font-family: 'Permanent Marker', cursive;
}

.instructions-items-frame p {
    margin-left: 7%;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
}

.word-and-category-container {
    width: 33.333333%;
    background-color: beige;
    display: block;
    height: 100%;
}

.select-category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    /* background-color: blue; */
}

.select-category-title h2 {
    padding-top: 10%;
}

.inputs-category {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.inputs-category input {
    display: none;
}

.category {
    height: 25%;
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 186, 186);
    border: 1px solid black;
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
}

.category:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: #DAFA97;
}

.word-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='49' ry='49' stroke='%23DCD2D4FF' stroke-width='5' stroke-dasharray='15%2c 8%2c 22' stroke-dashoffset='36' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 1px;
}

.word-container span {
    vertical-align: bottom;
    font-size: 1.5em;
    border-bottom: 2px solid rgb(201, 201, 201);
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    color: gray;
}

.hangman-container {
    width: 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2%;
}

#hangman {
    /* background-color: aquamarine; */
    width: 50%;
    height: 90%;
}


#barra-1 {
    display: block;
    position: relative;
    top: 50px;
    left: 60px;
    width: 8px;
    height: 200px;
    background-color: rgb(154, 57, 36);
}

#barra-2 {
    display: block;
    position: relative;
    top: 0px;
    left: 65px;
    width: 12px;
    height: 100px;
    background-color: rgb(154, 57, 36);
    transform: rotate(90deg);
}

#barra-3 {
    display: block;
    position: relative;

    top: -270px;
    left: 100px;
    width: 8px;
    height: 100px;
    background-color: rgb(154, 57, 36);
    transform: rotate(50deg);
}

#barra-4 {
    display: block;
    position: relative;

    top: -427px;
    left: 131px;
    width: 8px;
    height: 150px;
    background-color: rgb(154, 57, 36);
    transform: rotate(90deg);
}

#cuerda {
    display: block;
    position: relative;

    top: -498px;
    left: 201px;
    width: 5.5px;
    height: 35px;
    background-color: rgb(197, 169, 77);
    border-radius: 100%;

}

#cabeza {
    display: block;
    position: relative;

    top: -498px;
    left: 185px;
    width: 30px;
    height: 30px;

    border-radius: 99px;
    border: 4px solid black;
}

#cuerpo {
    display: block;
    position: relative;

    top: -500px;
    left: 201px;
    width: 4px;
    height: 60px;

    background-color: black;
}

#mano-izq {
    display: block;
    position: relative;

    top: -566px;
    left: 187px;
    width: 4px;
    height: 40px;

    background-color: black;
    transform: rotate(-50deg);
}

#mano-der {
    display: block;
    position: relative;

    top: -606px;
    left: 215px;
    width: 4px;
    height: 40px;

    background-color: black;
    transform: rotate(50deg);
}

#pie-izq {
    display: block;
    position: relative;

    top: -585px;
    left: 191px;
    width: 4px;
    height: 40px;

    background-color: black;
    transform: rotate(30deg);
}

#pie-der {
    display: block;
    position: relative;

    top: -625px;
    left: 210px;
    width: 4px;
    height: 40px;

    background-color: black;
    transform: rotate(-30deg);
}

.keyboard-container-and-title {
    height: 35vh;
    display: block;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.keyboard-title-container {
    /* background-color: blue; */
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard-container P {

    font-family: 'Amatic SC';
    font-weight: bolder;
    font-size: 40PX;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: #797e6e;
}

h2:hover {
    color: black;
    cursor: pointer;
    font-size: 35px;
}

.keyboard-and-results-container {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard-container {
    /* background-color: yellowgreen; */
    height: 100%;
    width: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#keyboard-frame {
    height: 75%;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(187, 186, 186);
    border: 1px solid black;
    box-shadow: -5px 5px 2px 2px rgb(75, 64, 64);
}

.letter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23%;
    width: 7%;
    margin: 5px 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(99, 99, 99);
    font-size: 20px;
    color: rgb(66, 66, 66);
}

.letter-container:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: #DAFA97;
}

.you-lose-container {
    /* background-color: red; */
    height: 100%;
    width: 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.you-lose-container img {
    width: 34%;
    height: 70%;
    /* display: none; */
}

.you-win-container {
    /* background-color: yellow;  */
    height: 100%;
    width: 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.you-win-container img {
    width: 38%;
    height: 88%;
    /* display: none; */
    margin-bottom: 30px;
}

.play-again-buttons {
    height: 25%;
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 151, 47);
    border: 1px solid black;
    font-family: 'Amatic SC';
    font-size: 30px;
    color: black;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 10PX;
}

.play-again-buttons:hover {
    background-color: #DAFA97;
    cursor: pointer;
}